{% extends 'layout.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <h1 class="text-center mt-5">Nutrition Tracker</h1>

    <div class="col col-md-8 center-block">
        <form action="/preview_openai_response" method="post">
            <div class="form-group mb-2">
                <label for="user_input">OpenAi API:</label>
                <textarea class="form-control" id="user_input" name="foods" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-sm btn-outline-primary">Preview</button>

        </form>
    </div>

    {% if data %}
    <div class="row justify-content-md-center">
        <div class="col col-md-8 center-block">
            <h2 class="center mt-5">Preview Nutrition</h2>

            <form method="post" action="/handle_food_actions">
                <input type="date" name="date"/>
                <input type="text" name="recipe" placeholder="Recipe name"/>
                <input type="number" name="serv" placeholder="Serv."/>

                <input type="checkbox" name="consumption" id="consumption" class="form-check-input"
                       placeholder="Consume"/>

                <label class="form-check-label" for="consumption">Consume:</label>
                <table class="table table-bordered border-primary mt-5 mb-2">
                    <thead>
                    <tr>
                        {% for column in columns %}
                        <th scope="col">{{ column }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data %}
                    <tr>
                        {% for _, value in row.items() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <input type="submit" name="action" value="Save Ingredients" class="btn btn-outline-primary">
                <input type="submit" name="action" value="Save as Recipe" class="btn btn-outline-primary">
                <input type="submit" name="action" value="Cancel" class="btn btn-outline-primary">
            </form>

        </div>
    </div>
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col col-md-8 center-block">
            <h2 class="center mt-5">Add Food</h2>
            <form method="post" action="/handle_food_actions">
                <div class="input-group mb-1">
                    <span class="input-group-text" id="basic-addon0">Consume &nbsp;<input type="checkbox"
                                                                                          name="consumption"
                                                                                          class="form-check-input"
                                                                                          placeholder="Consume"
                                                                                          aria-describedby="basic-addon0"/></span>
                    <span class="input-group-text" id="basic-addon1">Qty</span>
                    <input type="text" class="form-control" name="qty" aria-label="Qty"
                           aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon2">Unit</span>
                    <input type="text" class="form-control" name="unit" aria-label="Qty"
                           aria-describedby="basic-addon2">
                </div>

                <div class="input-group mb-1">
                    <span class="input-group-text" id="basic-addon3">Ingredient</span>
                    <input type="text" class="form-control" name="ingredient" aria-label="Ingredient"
                           aria-describedby="basic-addon3">
                    <span class="input-group-text" id="basic-addon4">Date</span>
                    <input type="date" class="form-control" name="date" aria-label="Date"
                           aria-describedby="basic-addon4">
                </div>
                <div class="input-group mb-1">
                    <span class="input-group-text" id="basic-addon5">Kcal</span>
                    <input type="text" class="form-control" name="kcal" aria-label="Kcal"
                           aria-describedby="basic-addon5">
                    <span class="input-group-text" id="basic-addon6">Carb</span>
                    <input type="text" class="form-control" name="carb" aria-label="Carb"
                           aria-describedby="basic-addon6">
                    <span class="input-group-text" id="basic-addon7">Fat</span>
                    <input type="text" class="form-control" name="fat" aria-label="Fat"
                           aria-describedby="basic-addon7">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text" id="basic-addon8">Fiber</span>
                    <input type="text" class="form-control" name="fiber" aria-label="Fiber"
                           aria-describedby="basic-addon8">
                    <span class="input-group-text" id="basic-addon9">Net Carb</span>
                    <input type="text" class="form-control" name="net_carb" aria-label="Net Carb"
                           aria-describedby="basic-addon9">
                    <span class="input-group-text" id="basic-addon10">Protein</span>
                    <input type="text" class="form-control" name="protein" aria-label="Protein"
                           aria-describedby="basic-addon10">
                </div>

                <input type="submit" name="action" value="Save Food" class="btn btn-sm btn-outline-primary">
            </form>

        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-md-8 center-block">
            <h2 class="center mt-5">Add To Consume</h2>
            <form method="post" action="/consume_food">


                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <div class="input-group">

                            <span class="input-group-text" id="basic-addon24">Date</span>
                            <input type="date" class="form-control" name="date" aria-label="Date"
                                   aria-describedby="basic-addon24">
                        </div>
                    </div>
                    <div class="col-auto">

                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon15">Qty</span>
                            <input type="text" class="form-control" name="qty" aria-label="Qty"
                                   aria-describedby="basic-addon15">
                        </div>
                    </div>
                    <div class="col-auto">
                        <select id="foodConsume" name="iq_id" class="form-select form-select"
                                aria-label=".form-select-sm example">
                            <option selected>Select Food</option>
                            {% for n in nutritions %}
                            <option value="{{n.id}}">{{n.ingredient}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">

                        <input type="submit" name="action" value="Consume" class="btn btn-outline-primary">
                    </div>

                </div>

            </form>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-8 center-block mb-5">
            <h2 class="center mt-5">Recipe List</h2>

            <form action="/handle_recipe_action" method="post">
                <div class="col-auto">
                        <div class="input-group">

                            <span class="input-group-text" id="basic-addon25">Date</span>
                            <input type="date" class="form-control" name="date" aria-label="Date"
                                   aria-describedby="basic-addon25">
                        </div>
                    </div>
                      <small class="form-text text-muted">
                <span class="text-danger">*</span> All values are per Serving.
            </small>
                <table class="table table-bordered border-danger mt-2 mb-2">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Recipe</th>
                        <th scope="col">Serv.</th>
                        <th scope="col">Kcal</th>
                        <th scope="col">Fat</th>
                        <th scope="col">Carb</th>
                        <th scope="col">Fiber</th>
                        <th scope="col">Net Carb</th>
                        <th scope="col">Protein</th>
                        <th scope="col">Select</th> <!-- New column header -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for nutrition in recipes %}
                    <tr>
                        <td>{{ nutrition.date }}</td>
                        <td>{{ nutrition.recipe_name }}</td>
                        <td>{{ nutrition.serv }}</td>
                        <td>{{ nutrition.kcal }}</td>
                        <td>{{ nutrition.fat }}</td>
                        <td>{{ nutrition.carb }}</td>
                        <td>{{ nutrition.fiber }}</td>
                        <td>{{ nutrition.net_carb }}</td>
                        <td>{{ nutrition.protein }}</td>
                        <td>
                            <input type="checkbox" name="remove_ids[]" value="{{ nutrition.recipe_id }}">
                            <!-- New checkbox column -->
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" name="action" value="Consume" class="btn btn-sm btn-outline-primary"
                       onclick="return confirmSubmit()">
                <input type="submit" name="action" value="Delete" class="btn btn-sm btn-outline-danger"
                       onclick="return confirmSubmit()">

            </form>

        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-md-8 center-block mb-5">
            <h2 class="center mt-5">Daily Consumption</h2>
            <form action="/remove_consumption" method="post">
                <table class="table table-bordered border-info mt-2 mb-2">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Por.</th>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Kcal</th>
                        <th scope="col">Fat</th>
                        <th scope="col">Carb</th>
                        <th scope="col">Fiber</th>
                        <th scope="col">Net Carb</th>
                        <th scope="col">Protein</th>
                        <th scope="col">Select</th> <!-- New column header -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for nutrition in consumption %}
                    <tr>
                        <td>{{ nutrition.date }}</td>
                        <td>{{ nutrition.qty }}</td>
                        <td>{{ nutrition.unit }}</td>
                        <td>{{ nutrition.iqp }}</td>
                        <td><a href="/nutrition/{{nutrition.iq_id}}">{{ nutrition.ingredient }}</a></td>
                        <td>{{ nutrition.kcal }}</td>
                        <td>{{ nutrition.fat }}</td>
                        <td>{{ nutrition.carb }}</td>
                        <td>{{ nutrition.fiber }}</td>
                        <td>{{ nutrition.net_carb }}</td>
                        <td>{{ nutrition.protein }}</td>
                        <td>
                            <input type="checkbox" name="remove_ids[]" value="{{ nutrition.consumption_id }}">
                            <!-- New checkbox column -->
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger"
                       onclick="return confirmSubmit()">
                <!-- New delete button -->
            </form>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-8 center-block mb-5">
            <h2 class="center mt-5">Ingredients Quantity</h2>
            <form action="/handle_ingredients_action" method="post">
                <table class="table table-bordered border-warning mt-2 mb-2">
                    <thead>
                    <tr>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Kcal</th>
                        <th scope="col">Fat</th>
                        <th scope="col">Carb</th>
                        <th scope="col">Fiber</th>
                        <th scope="col">Net Carb</th>
                        <th scope="col">Protein</th>
                        <th scope="col">Select</th> <!-- New column header -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for nutrition in nutritions %}
                    <tr>
                        <td>{{ nutrition.qty }}</td>
                        <td>{{ nutrition.unit }}</td>
                        <td><a href="/nutrition/{{nutrition.id}}">{{ nutrition.ingredient }}</a></td>
                        <td>{{ nutrition.kcal }}</td>
                        <td>{{ nutrition.fat }}</td>
                        <td>{{ nutrition.carb }}</td>
                        <td>{{ nutrition.fiber }}</td>
                        <td>{{ nutrition.net_carb }}</td>
                        <td>{{ nutrition.protein }}</td>
                        <td>
                            <input type="checkbox" name="remove_ids[]" value="{{ nutrition.id }}">
                            <!-- New checkbox column -->
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" name="action" value="consume" class="btn btn-sm btn-outline-primary"
                       onclick="return confirmSubmit()"> <!-- New delete button -->
                <input type="submit" name="action" value="delete" class="btn btn-sm btn-outline-danger"
                       onclick="return confirmSubmit()"> <!-- New delete button -->

            </form>
        </div>
    </div>


</div>
{% endblock %}