{% extends 'layout.html' %}

{% block content %}
  <div class="row justify-content-md-center">
        <div class="col col-md-8 center-block mb-5">
            <h2 class="text-center mt-5">AVG Nutrition Consumed</h2>
                <table class="table table-bordered border-light mt-2 mb-2">
                    <thead>
                    <tr>
                        <th scope="col">Days</th>
                        <th scope="col">Kcal</th>
                        <th scope="col">Fat</th>
                        <th scope="col">Carb</th>
                        <th scope="col">Fiber</th>
                        <th scope="col">Net Carb</th>
                        <th scope="col">Protein</th>
                        <th scope="col">AVG Weight</th>
                        <th scope="col">P/W ratio</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ avg_consumed.cnt }}</td>
                            <td>{{ avg_consumed.kcal }}</td>
                            <td>{{ avg_consumed.fat }}</td>
                            <td>{{ avg_consumed.carb }}</td>
                            <td>{{ avg_consumed.fiber }}</td>
                            <td>{{ avg_consumed.net_carb }}</td>
                            <td>{{ avg_consumed.protein }}</td>
                            <td>{{ average_weight }}</td>
                            <td>{{ avg_consumed.protein/average_weight }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>

<div class="row justify-content-md-center">
    <h1 class="text-center mt-5">Nutrition Tracker</h1>

        <canvas id="myChart"></canvas>
        <canvas id="weightChart"></canvas>

        <canvas id="calorieChart"></canvas>


        <script type="text/javascript">
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ dates|tojson }},
            datasets: [
                    {
                    label: 'Fats',
                    data: {{ fats|tojson }},
                    backgroundColor: 'rgba(135, 206, 235, 0.2)',
                    borderColor: 'rgba(135, 206, 235, 1)',
                    borderWidth: 1
                },
                 {
                    label: 'Carbs',
                    data: {{ carbs|tojson }},
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Protein',
                    data: {{ proteins|tojson }},
                    backgroundColor: 'rgba(255, 159, 64, 0.2)',
                    borderColor: 'rgba(255, 159, 64, 1)',
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false,
                    stacked: true
                },
                x: {
                    stacked: true
                }
            }
        }
    });
    var ctx2 = document.getElementById('calorieChart').getContext('2d');
    new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: {{ date_calories|tojson }},
            datasets: [
                    {
                    label: 'Calories',
                    data: {{ data_calories|tojson }},
                    backgroundColor: 'rgba(135, 206, 235, 0.2)',
                    borderColor: 'rgba(135, 206, 235, 1)',
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false

                },
                x: {

                }
            }
        }
    });
    var ctx3 = document.getElementById('weightChart').getContext('2d');
    new Chart(ctx3, {
        type: 'line',
        data: {
            labels: {{ date_weight|tojson }},
            datasets: [
                    {
                    label: 'Weight',
                    data: {{ data_weight|tojson }},
                    backgroundColor: 'rgba(135, 206, 235, 0.2)',
                    borderColor: 'rgba(135, 206, 235, 1)',
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                },
                x: {

                }
            }
        }
    });
        </script>

</div>


{% endblock %}
